<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Listado de Post del Super Blog</h1>
      <div class="text-right">
        <%= link_to "Postear!", new_post_path, class: "btn btn-primary" %>  <!-- I had to change posts_new route made by Rails for new_post_path in ROUTES so it is sinctactically correct -->
      </div>
      <table class="table">
        <tr>
          <th>N</th>
          <th>Titulo</th>
          <th>Post</th>
        </tr>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


